<div>
    <h2>New category</h2>
    <form #categoryForm="ngForm" (ngSubmit)="save()">
        <div class="form-group">
            <label for="name">Name: </label>
            <input id="name" type="text" pattern="^(?!\s*$).+" required class="form-control" maxlength="128" [(ngModel)]="category.name" name="name" placeholder="name" #name="ngModel">
            <div [hidden]="name.valid || name.pristine"
                class="alert alert-danger">
                Name is required
            </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!categoryForm.form.valid">Save</button>
    </form>

    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
          <div class="col-xs-3">Name</div>
          <div class="col-xs-9">{{ category.name }}</div>
        </div>
      </div>
</div>