<h2>Categories</h2>
<ul class="categories">
  <li *ngFor="let category of categories">
    <button [class.selected]="category === selectedCategory" type="button" (click)="onSelect(category)">
        <span class="badge">{{category.id}}</span> {{category.name}}
    </button>
  </li>
</ul>

<div *ngIf="selectedCategory">
    <h2>{{selectedCategory.name | uppercase}} Details</h2>
    <div>id: {{selectedCategory.id}}</div>
    <div>
        <label for="hero-name">Hero name: </label>
        <input id="hero-name" [(ngModel)]="selectedCategory.name" placeholder="name">
    </div>
</div>